<div class="center">
  <div class="center-top">
    <div class="login">
      ログイン中のユーザー
    </div>
    <div class="login-user">
      <div class="user-name">
          <%= link_to "高山", '#'%>
      </div>
      <div class="room-create">
      <%# userが先生の時だけ表示する %>
          <a href="#">ルームの作成</a>
      </div>
    </div>
  </div>
  <div class="center-bottom">
    <div class="member">
      ルーム内ユーザー一覧
    </div>
    <div class="member-list">
      <div class="user-names">
        田中大貴(親)
      </div>
      <div class="user-names">
        佐藤静香(親)
      </div>
      <div class="user-names">
        渡辺みき(親)
      </div>
      <div class="user-names">
        石川真司(親)
      </div>
      <div class="user-names">
        (担任) 菅原達也
      </div>
    </div>
  </div>
</div>