<div class="center">
  <div class="center-top">
    <div class="login">
      ログイン中のユーザー
    </div>
    <div class="login-user">
      <div class="user-name">
          <%= link_to current_user.name, edit_user_path(current_user) %>
      </div>
      <div class="room-create">
      <%# userが先生の時だけ表示する %>
        <% if current_user.status == 2 %>
          <%= link_to "ルームの作成", new_room_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="center-bottom">
    <div class="member">
      ルーム一覧
    </div>
    <div class="member-list">
      <% current_user.rooms.each do |room| %>
        <div class="user-name">
          <a href="#"><%= room.name %></a>
        </div>
      <% end %>
    </div>
  </div>
</div>