<div class="menu">
  <div class="menu-header">
    <div class="himage-header">
      <%= image_tag "bird_densyobato.png", class:"bird-icon" , width:'90%', height:'60%'%>
    </div>
    <div class="menu-notation">
      メニュー
    </div>
  </div>
  <div class="menu-bar">
    <div class="menu-name">
      <a href="#">ルーム一覧</a>
    </div>
    <div class="menu-name">
      <a href="#">カレンダー</a>
    </div>
    <div class="menu-name">
      <a href="#">病院</a>
    </div>
      <div class="menu-name">
      <%= link_to 'ログアウト', "#", class: "logout" %>
    </div>
    <div class="menu-name">
      <%= link_to 'ログイン', "#" %>
    </div>
    <div class="menu-name">
      <%= link_to '新規登録', "#" %>
    </div>
  </div>
</div>