<div class="message" id="message">
     <div class="upper-message">
      <div class="messenger"> 
         <%= message.user.name %> 
      </div>
      <div class="send-time">  
         <%=l message.created_at%> 
      </div>  
     </div> 
    <div class="lower-message">
      <div class="message-content">
       <%= message.content %>
      </div>
      <%# <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %> 
    </div>
  </div>