<div class="wrapper">
  <div class="side-bar">
    <%= render "menu" %>
  </div>
  <div class="center-bar">
    <%= render "center" %>
  </div>
  <div class="chat">
    <%= render "chat" %>
  </div>
</div>