<div class="opinion-wrap">
  <div class="opinion-header">
    <div class="header-image">
      <%= link_to image_tag("top_page.png", class:"create-image"), root_path%>
    </div>
    <h2><%= @opinion.subject %></h2>
    <div class="header-bottom">
      <div class="header-bottom-center"></div>
    </div>
  </div>
  <div class="opinion-text-content">
    <%= @opinion.text%>
  </div>
</div>