<div class="wrapper">
  <div class="side-bar">
    <%= render "menu" %>
  </div>
  <% if user_signed_in? %>
    <div class="center-bar">
      <%= render "center" %>
    </div>
    <div class="chat">
      <%= render "messages/chat" %>
    </div>
  <% end %>
</div>